<!DOCTYPE html>
<html>
    <link rel="stylesheet" href="topnav.css">

    <div class="topnav">
        <a class="active" href="{% url 'home' %}">Home</a>
        <a href="{% url 'booking' %}">Booking</a>
        <a href="{% url 'services' %}">Services</a>
    </div>
    

    <head>
        <title>V V's Styles Booking</title>
    </head>
     <body>
        <header>
            <h1 style="color: #3366cc">Booking:</h1>
        </header>

        <article>
           <h2>Stylists</h2>
           <p>- VV</p>
           <p> -Emma</p>
           <p> -Lily</p>
            <h2>Services</h2>
            <p style="color: #808080"> (See Services Page for Details)</p>
            <p> Simple Design Braids</p>
            <p> Intermediate Design Braids</p>
            <p> Freestyle Styling</p>

        </article>
    </body>
</html>